- if "ldap" in config.LOGIN_PROVIDERS and config.LDAP_REGISTER_URL
    a.action(href=config.LDAP_REGISTER_URL, target="_blank")
        i.fa.fa-external-link-square
        span= _('Registration (external)')

- if "password" in config.LOGIN_PROVIDERS and config.REGISTRATIONS_ENABLED
    a.action(href=url_for('register', next=request.args.get('next')))
        i.fa.fa-pencil
        span= _('Register')

