extends "BASE.jade"

- if highlight == "invited"
    - set title = _("Invitations")
- else
    - set title = _("Poll overview")

block title
    = title

block content
    .container.small
        .page-header
            h1= title

        p= _("This list shows all the polls you have participated in, either by owning them, voting on them, being invited, or watching.")

        - if highlight == "invited"
            != alert("info", "The polls you were invited to are highlighted in this list.")

        - set watches = current_user.watches.all()
        - set polls = current_user.get_poll_list()

        table.table.table-condensed.poll-overview
            tr
                th Poll title
                th Last changed
                th(colspan="3") Tags

            - for poll in polls
                - set owner = (poll.owner == current_user)
                - set owner_group = current_user.is_member(poll.owner)
                - set voted = poll.get_user_votes(current_user)
                - set invited = not voted and current_user.is_invited(poll)
                - set watching = poll.is_watching(current_user)

                - set highlighted = (highlight and (highlight == "invited" and invited))

                tr(class=("highlight" if highlighted else ""))
                    td: a(href=poll.get_url())= poll.title
                    td= poll.last_changed|date(year=True)

                    td(width=10)
                        - if owner
                            span.label.label-danger
                                i.fa.fa-pencil
                                = _("Owner")

                        - elif owner_group
                            span.label.label-danger
                                i.fa.fa-pencil
                                = _("Owner (group)")

                        - else
                            span.label.label-default
                                i.fa.fa-ban
                                = _("Not owner")

                    td(width=10)
                        - if voted
                            span.label.label-success
                                i.fa.fa-check
                                = _("Voted")

                        - elif invited
                            span.label.label-info
                                i.fa.fa-envelope
                                = _("Invited")

                        - else
                            span.label.label-default
                                i.fa.fa-pencil
                                = _("Not voted")

                    td(width=10)
                        - if watching
                            span.label.label-warning
                                i.fa.fa-eye
                                = _("Watching")

                        - else
                            span.label.label-default
                                i.fa.fa-eye-slash
                                = _("Not watching")
