- extends "BASE.jade"

block title
    = _("Settings")

block content
    .container.small
        .page-header
            h1= _("Settings")

        form(method="POST")
            = form.hidden_tag()
            = field_error(form.hidden_tag)

            - if form.firstname
                h2= _("Personal data")

                .row
                    .col-md-6: .form-group
                        = form.firstname.label(class="control-label")
                        = form.firstname(class="form-control")
                        = field_error(form.firstname)

                    .col-md-6: .form-group
                        = form.lastname.label(class="control-label")
                        = form.lastname(class="form-control")
                        = field_error(form.lastname)


                .row
                    .col-md-6: .form-group
                        = form.email.label(class="control-label")
                        = form.email(class="form-control")
                        = field_error(form.email)

                .row
                    .col-md-6: .form-group
                        = form.password1.label(class="control-label")
                        = form.password1(class="form-control")
                        = field_error(form.password1)

                        .help-block Leave empty to keep your current password.

                    .col-md-6: .form-group
                        = form.password2.label(class="control-label")
                        = form.password2(class="form-control")
                        = field_error(form.password2)

            - else
                p= _("You can edit your account settings in the centralized accounts page.")

            h2= _("Region settings")

            .row
                .col-md-6: .form-group
                    = form.preferred_language.label
                    = form.preferred_language(class="form-control", **{'data-slug-field':"#slug"})
                    = field_error(form.preferred_language)

                .col-md-6: .form-group
                    = form.timezone_name.label
                    = form.timezone_name(class="form-control")
                    = field_error(form.timezone_name)

            h2= _("Various")

            .checkbox
                = form.autowatch()
                = form.autowatch.label
                = field_error(form.autowatch)

            .checkbox
                = form.allow_invitation_mails()
                = form.allow_invitation_mails.label
                = field_error(form.allow_invitation_mails)

            .form-actions
                button.action.primary(type="submit")
                    span= _('Save')
                    i.fa.fa-arrow-right
