- from "_macros.jade" import markdown_info

.modal.fade#filter-modal(tabindex="-1", role="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span &times;

                h4.modal-title= _("Filter")

            .modal-body
                .form-group
                    .row
                        .col-sm-5
                            label= _("Minimum score")
                            .input-group
                                input.form-control#filter-threshold-percent(type="number", class="form-control")/
                                span.input-group-addon %

                        .col-sm-2.text-center
                            label &nbsp;
                            .or: i.fa.fa-exchange

                        .col-sm-5
                            label= _("Maximum count")
                            input.form-control#filter-threshold-count(type="number", min=0, max=poll.get_choices()|length)/

                hr/

                .row
                    .col-sm-9
                        label= _("All users matching ...")
                    .col-sm-3
                        label= _("voted")

                - for choice_value in poll.choice_values
                    .form-group: .row
                        .col-sm-9
                            input.form-control.filter-choice-values(type="text", data-choice-value=choice_value.id)/
                        .col-sm-3
                            span.label.large.choice-sum-value-label(style="background-color: ##{choice_value.color};," title=choice_value.title)
                                i(class="fa fa-#{choice_value.icon}")

                hr/

                .form-group
                    label= _("Filter votes")

                    .row#filter-hide-votes
                        .col-sm-6
                            .radio: label
                                input(type="radio", name="filter-hide-votes", value="show-all", checked=True)
                                span Show all votes

                            .radio: label
                                input(type="radio", name="filter-hide-votes", value="hide-all")
                                span Hide all votes

                        .col-sm-6
                            .radio: label
                                input(type="radio", name="filter-hide-votes", value="show-filter")
                                span Show votes that match the filter

                            .radio: label
                                input(type="radio", name="filter-hide-votes", value="hide-filter")
                                span Hide votes that match the filter

                            .form-group#filter-hide-votes-filter-group
                                .input-group
                                    input.form-control#filter-hide-votes-filter(type="text", placeholder="Filter")/
                                    span.input-group-addon(data-toggle="popover",
                                            data-trigger="hover",
                                            data-content=_('Use regular expressions to match multiple votes.'),
                                            data-container="#filter-hide-votes-filter-group",
                                            data-placement="top")
                                        i.fa.fa-question-circle

            .modal-footer
                button.action.pull-left#filter-reset(type="button", data-dismiss="modal")
                    i.fa.fa-undo
                    span Reset

                button.action.pull-left#filter-apply(type="button", data-dismiss="modal")
                    i.fa.fa-check
                    span Done
