- from "_macros.jade" import alert, form_errors, field_error, markdown_info
- set comments = poll.get_comments()

extends poll/BASE.jade

block content
    .container.small
        .page-title
        h1= _("Poll Activity")
            small= _("Most recent first")

        .activities
            - set day = None
            - set groups = poll.get_activity_groups()
            - for activity_group in groups
                - set activity = activity_group[0]

                - if not day or (activity.created|in_timezone_of).date() != (day|in_timezone_of).date()
                    - set day = activity.created
                    h3.day-header= day|date

                != activity.render(activity_group)

        - if poll.allow_comments
            h2= _("Post a comment")

            form.form(method="POST")
                = comment_form.hidden_tag()

                .form-group
                    = comment_form.name.label

                    - if current_user.is_anonymous()
                        = comment_form.name(class="form-control")
                    - else
                        input.form-control(type="text", disabled=True, value=current_user.displayname)/

                    = field_error(comment_form.name)

                .form-group
                    = comment_form.text.label
                    = comment_form.text(class="form-control", rows=6)
                    = field_error(comment_form.text)
                    != markdown_info(true)

                - if current_user.is_anonymous()
                    .form-group
                        = comment_form.captcha
                        = field_error(comment_form.captcha)
                        p.help-block= _("You can avoid this captcha if you login.")

                .form-actions
                    button.action.primary(type="submit")
                        span= _('Post comment')
                        i.fa.fa-arrow-right
