extends BASE.html

block title
    | #{poll.title} - #{super()}

block header
    header.poll
        .container
            .poll-actions
                block actions

            h1= poll.title
                small
                    block polltitl

            include poll/_properties.html

            nav: ul.poll-tabs
                li(class=("active" if request.endpoint in ("poll_overview",) else ""))
                    a(href=poll.get_url())
                        i.fa.fa-table
                        span= _("Overview")

                li(class=("active" if request.endpoint in ("poll_activity",) else ""))
                    a(href=url_for('poll_activity', slug=poll.slug))
                        i.fa.fa-comments-o
                        span= _("Activity")
                        b.label.label-info 5

                - if poll.user_can_edit(current_user)
                    li(class=("active" if request.endpoint in ("poll_edit", "poll_edit_values") else ""))
                        a(href=url_for('poll_edit', slug=poll.slug))
                            i.fa.fa-wrench
                            span= _("Settings")

                    - if current_user.is_authenticated()
                        li(class=("active" if request.endpoint in ("poll_invitations",) else ""))
                            a(href=url_for('poll_invitations', slug=poll.slug))
                                i.fa.fa-envelope
                                span= _("Invitations")

                    li(class=("active" if request.endpoint in ("poll_edit_choices",) else ""))
                        a(href=url_for('poll_edit_choices', slug=poll.slug))
                            i.fa.fa-list
                            span= _("Choices")

                li(class=("vote " + ("active" if request.endpoint in ("poll_vote", "poll_vote_edit") else "")))
                    a(href=url_for('poll_vote', slug=poll.slug))
                        i.fa.fa-check
                        span= _("Vote")

