- from "_macros.html" import field_error, form_errors

.create-poll
    .page-header
        h1= _("Create a poll")

    form.form(method="POST")
        = form.hidden_tag()
        = field_error(form.hidden_tag)

        .form-group
            = form.title.label
            = form.title(class="form-control", id="title-input", autocomplete="off")
            = field_error(form.title)

            - if config.ALLOW_CUSTOM_SLUGS
                div#slug-preview-box.help-block.script-only
                    = _("The poll will be available at")
                    span#url-preview
                        span#url-prefix= url_for('poll', slug='', _external=True)
                        span#slug-preview

                    a.pull-right.btn.btn-xs.btn-default#slug-customize-button(href="#")
                        i.fa.fa-wrench
                        = _("Customize")

            script= "var RANDOM_SLUGS = " + ("true" if config.RANDOM_SLUGS else "false") + ";"

        .form-group#slug-customize
            - if config.ALLOW_CUSTOM_SLUGS
                = form.slug.label

                .pull-right.script-only
                    button.btn.btn-xs.btn-default#slug-randomize
                        i.fa.fa-random
                        = _("Randomize")

                .input-group
                    span.input-group-addon= url_for('poll', slug='', _external=True)
                    = form.slug(class="form-control", id="slug-input")

            = field_error(form.slug)

        .form-group
            = form.type.label
            = form.type(class="form-control make-button-group")
            = field_error(form.type)

        .form-group
            = form.visibility.label
            = form.visibility(class="form-control make-button-group")
            = field_error(form.visibility)

        .form-group
            = form.due_date.label
            span.help-inline optional
            = form.due_date(class="form-control datetime-input")
            = field_error(form.due_date)

        .form-group
            input.btn.btn-primary(type="submit", value=_('Create'))/
