- from "_macros.jade" import field_error, form_errors

section.section.create-poll: .container:.halfsize
    h1= _("Create a poll")
    hr/

    form.form(method="POST")
        = form.hidden_tag()
        = field_error(form.hidden_tag)

        .form-step
            .number Step 1
            .title Select type

        .form-group
            //- = form.type.label
            = form.type(class="form-control script-hidden", id="create-type-field")
            = field_error(form.type)

            .script-only: ul.type-choices#create-type-list
                - for key, type in form.type.choices
                    li(data-value=key)
                        .icon: i.fa(class="fa-#{type.icon}")
                        .text
                            .title= type.title
                            .description= type.description

        .form-step
            .number Step 2
            .title Enter title

        .form-group
            = form.title(class="form-control", id="title-input", autocomplete="off", placeholder=form.title.label.text)
            = field_error(form.title)

        #advanced-open.hidden
            .form-step
                .number Step 3
                .title Advanced Settings

            script= "var RANDOM_SLUGS = " + ("true" if config.RANDOM_SLUGS else "false") + ";"
            .form-group#slug
                - if config.ALLOW_CUSTOM_SLUGS
                    div(style="float: right;")
                        button.action.small#slug-randomize
                            i.fa.fa-random
                            span= _("Randomize")

                    = form.slug.label(style="margin-top: 2px;")

                    .input-group
                        span.input-group-addon= url_for('poll', slug='', _external=True)
                        = form.slug(class="form-control", id="slug-input")

                = field_error(form.slug)


        .form-group.text-center
            a.action#advanced-toggle(href="#")
                span.more
                    i.fa.fa-plus-square-o
                    span= _("More options")
                span.less.hidden
                    i.fa.fa-minus-square-o
                    span= _("Less options")

            input.action.primary(type="submit", value=_('Create'))/

