header#header
    //- div.logo
    //-     .container
    //-         h1 Dudel

    //-         - if current_user.is_authenticated()
    //-             = "Logged in as " + current_user.displayname

    nav.main-menu(role="navigation")
        .container
            ul.menu
                li
                    a(href=url_for('index'))
                        i.fa.fa-bars
                        span= _("Menu")
                        //- i.fa.fa-chevron-down

                    ul.submenu
                        - if config.HOME_URL
                            li: a(href=config.HOME_URL, target="_blank")
                                i.fa.fa-home
                                span= config.HOME_TEXT or _("Home")

                        li: a(href=url_for('index'))
                            i.fa.fa-plus
                            span= _("Create poll")

                        li: a(href=url_for('about'))
                            i.fa.fa-question-circle
                            span= _("About")

                - if current_user.is_authenticated()
                    - set count = 5
                    - set polls = current_user.get_poll_list(count+1)

                    li
                        a(href=url_for("user_polls"))
                            i.fa.fa-gavel
                            span= _("My Polls")
                            //- i.fa.fa-chevron-down

                        ul.submenu.left
                            - for poll in polls[:count]
                                li: a(href=poll.get_url())
                                    span= poll.title

                            - if polls|length > count
                                li.separator
                                li: a(href=url_for('user_polls'))
                                    span= _("Show more...")

                li.spacing

                li
                    a(href=url_for('user_settings'))
                        - if current_user.is_anonymous()
                            i.fa.fa-user
                        span= _("Account")

                        - if current_user.is_authenticated()
                            img(src=current_user.get_avatar(32), width=32, height=32)

                    ul.submenu.right
                        - if current_user.is_anonymous()
                            - if config.REGISTRATIONS_ENABLED
                                li: a(href=url_for('register'))
                                    i.fa.fa-pencil
                                    span= _('Register')

                            li: a(href=url_for('login'))
                                i.fa.fa-sign-in
                                span= _('Login')

                        - else
                            li: a(href=url_for('user_settings'))
                                i.fa.fa-cogs
                                span= _('Settings')

                            - if config.GROUPS_ENABLED or current_user.groups
                                li: a(href=url_for('groups'))
                                    i.fa.fa-users
                                    span= _('Groups')

                            - if current_user.is_admin
                                li: a(href=url_for('admin_index'))
                                    i.fa.fa-cogs
                                    span= _('Admin panel')

                            li: a(href=url_for('logout', next=request.url))
                                i.fa.fa-sign-out
                                span= _('Logout')
