- from "_macros.jade" import alert, form_errors, field_error, markdown_info

doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title
            block title
                = config.BRAND_TEXT

        - assets "css_all"
            link(rel="stylesheet", href=ASSET_URL, media="screen")/
        - endassets

        link(href=url_for('static', filename='css/print.css'), rel="stylesheet", media="print")

        block head
            //-

    body
        #wrapper
            include _header.jade

            section#main-content
                block header
                include _flashes.jade
                block content

            include _footer.jade

        - assets "js_all"
            script(type="text/javascript", src=ASSET_URL)
        - endassets


        script(type="text/javascript")!
            i18n.load("#{lang}");
            Date.setLocale("#{lang}");

        block foot
