extends BASE.html

block header
    include _create.jade

block content
    - if not current_user.is_authenticated()
        include _login.jade

    .container: .row.padded-cells
        .col-md-4
            - if current_user.is_authenticated()
                h4= _("My polls")

                p= _("You can find a list of all the polls in which you have participated on your profile page.")

                a.btn.btn-primary(href=url_for('user_settings'))= _("Show my polls")

            - else
                h4= _("Register for more")

                p
                    | Registered users have access to the full width of features available.

                include user/_registerbuttons.jade

                a.btn.btn-primary(href=url_for('login'))
                    i.fa.fa-sign-in
                    = ' ' + _('Login')


        .col-md-4
            h4= _("Dudel statistics")

            table.table
                tr
                    th= _("Polls created")
                    td= poll_count

                tr
                    th= _("Votes cast")
                    td= vote_count

                tr
                    th= _("Users")
                    td= user_count

        .col-md-4
            h4= _('Public polls')

            - if polls
                ul
                    - for poll in polls
                        li: a(href=poll.get_url())= poll.title

            - else
                = alert("info", _("There are currently no public polls."))
