- extends "admin/BASE.jade"

- block content
    .page-header
        h1 Poll: #{poll.title}

    p
        a.action.primary(href=poll.get_url())
            span Poll Overview

        a.action(href=url_for('poll_edit', slug=poll.slug))
            span Poll Settings

    h2 Details

    table.table.auto-width
        tr
            th ID
            td= poll.id

        tr
            th Title
            td= poll.title

        tr
            th Description
            td= poll.description

        tr
            th Slug
            td= poll.slug

        tr
            th Type
            td= PollType(poll.type).title

        tr
            th Created
            td= poll.created

        tr
            th Owner
            td= poll.owner.displayname

        tr
            th Due date
            td= poll.due_date

        tr
            th Anonymous allowed
            td= poll.anonymous_allowed

        tr
            th Public listing
            td= poll.public_listing

        tr
            th Require login
            td= poll.require_login

        tr
            th Require invitation
            td= poll.require_invitation

        tr
            th Show results
            td= poll.show_results

        tr
            th one_vote_per_user
            td= poll.one_vote_per_user

        tr
            th Allow comments
            td= poll.allow_comments
