- extends "poll/BASE.jade"

- block polltitle
    = _("Settings")

- block content
    .container
        h2= _("Assign a vote to a user")

        p= _("You may now assign the vote cast under the name <b>%(name)s</b> to a user.", name=vote.displayname|forceescape)|safe

        form(method="POST")
            = form.hidden_tag()
            = field_error(form.hidden_tag)

            .form-group
                = form.user.label
                = form.user(class="form-control")
                = field_error(form.user)

            .form-group
                ul.help-list
                    li= _("Only that user will be able to edit or delete the vote.")
                    li= _("If the user has been invited, their invitation will be fulfilled.")
                    li= _("If multiple votes are disabled, you cannot assign a user who has already voted.")
                    li= _("The name next to the vote will be updated.")
                    li= _("The vote will be marked as 'assign after voting', to avoid confusion.")
                    li= _("You cannot undo your assignment.")

            .form-actions
                button.action.primary(type="submit")
                    span= _("Assign")
                    i.fa.fa-arrow-right

